body {
    font-family: "Arial";
    background: linear-gradient(green, white);
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}

section {
    border: 3px solid yellow;
    margin: 5px;
    border-radius: 5px;
    padding-left: 10px;
}

#category_label {
    display: block; 
}