
/* This is Mobile View  */
body {
    font-family: "Arial";
    background-color: #e6ffff;
    background-attachment: fixed;
}

h1 {
    color: #000;
    text-align: center;
}

section {
    border: 1px solid lightgray;
    margin: 5px;
    border-radius: 10px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
    background-color: #f5f5f5; 
    border-radius:10px; 
    margin-left: 0px; 
    width: 100%;  
}

#table_section {
    background-color: #f5f5f5; 
}

h2 {
    font-size: 16px;
}

th, td {
    border-bottom: 1px solid #000000; 
    border-collapse: collapse; 
    font-size: 12px;
    text-align: center; 
    padding: 3px 10px; 
  }

  .red {
    color: red;
}

.green {
    color: green;
}

input { 
    width: 75%;
    text-align: center; 
}

.container {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100px;
    margin: 10px auto;
}

#add_expense_section {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: lightgray; 
}

#category_label {
    display: block;
    font-size: 14px;
    padding: 5px;
}

#expense_amount_label {
    display: block;
    font-size: 14px; 
    padding: 5px;
}

#spend_section {
    background-color: white; 
}

#piechart {
    padding-bottom: 15px;
}

#total_spent_section {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: lightgray; 
}

#total_spent_section h2 {
    font-size: 24px;
}


/* This is Desktop View  */

@media only screen and (min-width:768px) {

* {box-sizing: border-box;}

body{
    display: flex; 
}
    .red {
        color: red;
    }

h1{
    align-content: flex-start;
}

#remaining_balance{
    position: absolute; 
    width: 45%;   
}

#add_expense_section{
    position: relative;
   top: 14%; 
   width: 148%; 
}

#table_section{
    position: relative; 
    left: 800px;
    width: auto;  
}



}

 /* what you will use when switching from mobile to desktop */
@media only screen and (min-width: 768px) {
    #submit_expense {
        width: auto;
    }
    
}


