
/* This is Mobile View  */
body {
    font-family: "Arial";
    background-image: url("fabian-blank-pElSkGRA2NU-unsplash.jpg");
    /* background: linear-gradient(green, white); */
    /* background-attachment: fixed; */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


h1 {
    color: #000;
    text-align: center;
}

section {
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    padding-left: 10px;
}

table{
    border-collapse: collapse;
    background-color: #f5f5f5; 
    border-radius:10px; 
    margin-left: 0px; 
    width: 100%;  
}

th, td{
    border-bottom: 1px solid #000000; 
    border-collapse: collapse; 
    font-size: 12px;
    text-align: center; 
    padding: 3px 10px; 
  }

.container {
    display: flex;
    justify-content: space-between;
}

#remaining_balance {
    background-color: #dcdcdc;
    border: 1px solid grey;
    font-weight: bold;
    color: black;
    opacity: 0.8;    
}

#add_expense_section h2{
    font-size: 16px;  
}

#add_expense_section {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #DCDCDC;
    padding: 10px;
    opacity: 0.8; 
}
#category_label {
    display: block; 
}

#expense_amount_label {
    justify-content: flex-end; 
    flex-direction: row; 
    display: block; 
}

#submit_expense {
    width: 100%;
}

input { 
    width: 50%;   
}

/* This is Desktop View  */

@media only screen and (min-width:768px) {

* {box-sizing: border-box;}

body{
    display: flex; 
}

h1{
    align-content: flex-start;
}

#remaining_balance{
    position: absolute; 
    width: 45%;   
}

#add_expense_section{
    position: relative;
   top: 14%; 
   width: 148%; 
}

#table_section{
    position: relative; 
    left: 800px;
    width: auto;  
}



}



